
#container {
    width: 300px;
    height: 250px;
    font-family: helvetica;

    position: relative;

    background: black;
    color: white;
}

div.rise {
    position: absolute;
    left: 10px;
    top: 130px;
    width: 50px;

    text-align: left;
    font-size: 12px;
}
div.set {
    position: absolute;
    right: 10px;
    top: 130px;
    width: 50px;

    text-align: right;
    font-size: 12px;
}
.sunset {
    /*border: 1px dotted pink;*/
}
.sunrise {
    /*border: 1px dotted orange;*/
}
.moonrise {
    /*border: 1px dotted gray;*/
}
.moonset {
    /*border: 1px dotted gray;*/
}

div.current {
    position: absolute;
    left: 50px;
    top: 80px;
    width: 200px;
    text-align: center;


    /*border: 1px dotted red;*/
}
div.time {
    font-size: 48px;
}
div.temperature {
}


div.sun {
    position: absolute;
    /*border: 1px dotted yellow;*/
}
div.moon {
    position: absolute;
    /*border: 1px dotted gray;*/
}
div.sun img {
    width: 64px;
}
div.sun.night {
    opacity: 0.5;
}

div.moon img {
    width: 64px;
}

div.cloudcover img {
    width: 300px;
    opacity: 0.8;
}

div.curtemp {
    width: 150px;
    margin: auto;
}
div.tempdew {
    float: right;
    font-size: 12px;
}
div.temperature {
    color: orange;
}
div.dewpoint {
    color: blue;
}

div.current label.unit {
    float: right;
    font-size: 24px;
}

div.curpressure {
    width: 150px;
    margin: auto;
}
div.curpressure label.unit {
    font-size: 16px;
}
div.pressure {
    float: right;
    font-size: 12px;
}
.current .sparkline {
    float: left;
    width: 100px;
}
